<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>home</title>
    <link rel="stylesheet" href="/src/public/css/home.css" />
</head>

<body>
    <header class="header">
        <img src="assets/got5.jpg" alt="logo-serie">
    </header>

    <main style="margin-top: 190px;">
        <div class="inicio">
            <div class="middle-box">
                <p>Game of Thrones adapta para a TV a série literária As Crônicas de Gelo e Fogo,
                    de <a href="https://pt.wikipedia.org/wiki/George_R._R._Martin" class="autor">George R. R.
                        Martin</a>.
                    <br>A série se passa em Westeros, uma terra reminiscente da Europa Medieval, onde as
                    estações duram por anos ou até mesmo décadas. A história gira em torno de uma batalha
                    entre os Sete Reinos, onde duas famílias dominantes estão lutando pelo controle do Trono
                    de Ferro, cuja posse possivelmente assegurará a sobrevivência durante o inverno que está
                    por vir.
                    <a class="button" href="./index.ejs">Iniciar</a>
                </p>
            </div>
    </main>

    <footer>
        <div class="copyright">
            <h4>Vitória Lins de Miranda <br> Raquel Biondi de Sylos Mello e Souza</h4>
        </div>
    </footer>
    <!-- <script src="main.js" type="module"></script> -->
</body>