.characters{
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.character_name{
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}