* {
  margin: 0;
  padding: 0;
}

:root {
  /*paleta de cores */
  --green: #025939;
  --black: #0d0c00;
  --light-yellow: #ecf2bd;
  --white: #f2f2dc;
}

body {
  color: var(--black);
  background-color: var(--black);
  background-size: fill;
  display: flex;/*Torna o elemento um flex container automaticamente transformando todos os seus filhos diretos em flex itens.*/
  flex-wrap: wrap; /*Quebra a linha assim que um dos flex itens não puder mais ser compactado*/
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header { 
  height: fit-content;
  width: 100vw;
}

#bbimage {
  width: 280px;
  justify-content: center;
  display: flex;
}

.nav-header {
  display: flex;
  justify-content: center;
}

.btn-header {
  background-color: var(--white);
  border-radius: 20px;
  border: none;
  color: var(--black);
  width: 10vw;
  height: 40px;
  margin: 0px 7px;
  font-size: 0.8rem;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
  float: right;
}

.btn-option {
  background-color: var(--white);
  border-radius: 20px;
  border: none;
  color: var(--black);
  width: 10vw;
  height: 40px;
  margin: 0px 7px;
  font-size: 0.8rem;
  text-align: center;
  cursor: pointer;
}

#btn-search {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 250px;
}

main {
  /*background-image: url(img/tubos\ de\ ensaio.jpg);
  /*border-radius: 40px;*/
  background-image: url(img/greensmoke.png);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* width: 200%; */
}

.option-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px;
  font-family: monospace;
}

.card-container {
  display: flex; /* alinhamento dos cards. */
  flex-wrap: wrap; /* alinhamento dos cards. */
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-basis: auto;
}

.percentage-container {
  width: 100%;
  height: 20px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: large;
}

.card {
  height: 55vh;
  width: 16vw;
  margin: 20px;
  padding: 2vh 1vw;
  border-radius: 50px;
  background-color: var(--green);
   /* display: flex;  */
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  font-size: 0.89rem;
  color: var(--black);
}

.poster-img {
  height: 35vh;
  width: 15vw;
  margin-bottom: 2vh;
  border-radius: 50px;
  border: var(--black) 2px solid;
  object-fit: cover;
}

footer {
  color: var(--white);
  font-size: 1.1rem;
  margin: 100px 0 auto;
  padding: 10px 10px;
  width: 100%;
  height: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) /*telas de celulares */ {
  body{
    flex-direction: column;
  }

  main{
    flex-direction: column;
  }

  .card-container {
    flex-direction: column;
    
  }

  .card{
    height: fit-content;
    width: 60vw;
    margin: 20px;
    font-size: 0.89rem
  }

  .poster-img {
    height: 40vh;
    width: 40vw;
  }

  .percentage-container {
    font-size: small;
  }
}

/* @media screen and (max-width: 480px) {
  body {
    font-size: 1 rem;
    text-align: center;
    justify-content: center;
    width: 100vw;
    margin: 10%;
    margin-right: 10%;
    padding: 5%;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-shrink: 0;
  }

   .card {
    width: 16vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
  } 

  .poster-img {
    height: 20vh;
    width: 15vw;
    object-fit: cover;
  }

  footer {
    display: flex;
    justify-content: center;
    width: 80vw;
    padding: 10%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    width: 80vw;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

   .card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  } 

  .poster-img {
    height: 20vh;
    width: 15vw;
    object-fit: cover;
  }

  footer {
    text-align: center; 
    width: 60vw;
    display: flex;
    justify-content: center;
    padding: 30%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  body {
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    width: 80vw;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

   .card {
    width: 16vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
  } 

  .poster-img {
    height: 20vh;
    width: 15vw;
    object-fit: cover;
  }

  footer {
    width: 70vw;
    display: flex;
    justify-content: center;
    padding: 10%;
    margin-top: 35px;
  }
} */
@media screen and (min-width: 481px) and (max-width: 768px) {
  body{
    /* flex-direction: column; */
    
  }

  main{
    /* flex-direction: column; */
    width: 100%;
  }

  .card-container {
    /* flex-direction: column; */
  }

  .card{
    height: fit-content;
    width: 60vw;
    font-size: 1rem
  }

  .poster-img {
    height: 40vh;
    width: 40vw;
  }

  .percentage-container {
    font-size: medium;
  }
}