@import url('https://fonts.google.com/specimen/Oxanium?query=oxanium');/* Define uma fonte padrão para a página */


* {
    margin: 0;
    padding:0 ;
    box-sizing: border-box;/*faz com que o navegador não calcule a dimensão de um elemento somando bordas e margens com altura e largura.*/
    font-family:'Oxanium', cursive;/*font escolhida padrão no link*/
   } 

  navE {
  width: 100%;
}

a{
  color: #aaa;
  font-size:30px;
  width: 100%;
}
.home {
    border: 2px solid rgb(138, 19, 19);
    padding: 20px;
    width: 100%;
    background: rgb(138, 19, 19);
    text-align: left;
  }

  
  .filtrePokemon{
    color:rgb(138, 19, 19);
    font-size:50px;
    width: 100%;
    text-align: center;
  }  


.ordenação{
  color: rgb(138, 19, 19);
  font-size:25px;

}

.tipo{
  color: rgb(138, 19, 19);
  font-size:25px;

}
  body {
    text-align: center;
    background:linear-gradient(to bottom,#797575,#3b3a3a );
    min-height: 100vh;
    display:inline-block;
    width: 100%;
  }
  /* Define uma largura máxima para o conteúdo da página */
  .busca {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilo do título principal */
  .busca h1 {
    font-family: 50px;
    margin-top: 0;
  }
  
  /* Estilo da lista de Pokémon */
  #pokemon-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #pokemon-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #pokemon-list li img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  
  #pokemon-list li p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Estilo dos selects e botão de pesquisa */
  .options1,
  .options2,
  .btn {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #111111;
    border-radius: 4px;
    margin-right: 10px;
    background-color:rgb(138, 19, 19);
    color: #aaa;
    cursor: pointer;
  }
  
  /* Estilo para quando o botão de pesquisa estiver desabilitado */
  .btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  