/* Define uma fonte padrão para a página */
body {
    font-family: Arial, sans-serif;
  }
  
  /* Define uma largura máxima para o conteúdo da página */
  .busca {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilo do título principal */
  .busca h1 {
    font-size: 32px;
    margin-top: 0;
  }
  
  /* Estilo da lista de Pokémon */
  #pokemon-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #pokemon-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #pokemon-list li img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  
  #pokemon-list li p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Estilo dos selects e botão de pesquisa */
  .options1,
  .options2,
  .btn {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .btn {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  /* Estilo para quando o botão de pesquisa estiver desabilitado */
  .btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  