* {
	margin: 0;
	padding: 0;

}

body {
	/* display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: repeat(3 auto);
	border: 2px #000; */


	/* background-image: url(imagens/cartasDireita.jpg);
	background-size: cover;
	background-repeat: no-repeat; */
	font-family: 'Poppins', 'Roboto', sans-serif;

	/* background-repeat: no-repeat;
	background-size: 1028px 617px;
	background-position:  */
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

/* header {
	z-index: 2;
} */

#tituloH {
	padding-top: 4em;
	padding-bottom: 2em;
	font-weight: bolder;
	font-size: xx-large;
}

h1 {
	padding: 2em 0px 1em 3em;
}

h2 {
	padding: 0 0 1em 3em;
	font-weight: bolder;
}

p {
	margin-bottom: 1em;
	text-indent: 3em;
	/* margin-left: 10px;*/
}

.textoH {
	font-size: 14.5px;
	font-weight: 800;
}

.textoA {
	font-size: 12px;
	font-weight: 800;
}

.voltar {
	text-decoration: none;
	color: black;
	/* padding-top: 1em; */
	padding-left: 1em;
	padding-right: 1em;
	background-color: #8FBC8F;
	display: inline-block;
}

.main {

	/* align-items: center;
	justify-content: center; */
	/* background-color: #E4E2E7; */
	height: 100vh;
	width: 100vw;
	position: relative;
	background-color: rgba(181, 195, 166, 0.6);
	/* background-image: url(imagens/cartasDireitaEstreita.jpg);
	height: 97.5vh;
	width: 100vw;
	background-size: cover;
	background-repeat: no-repeat;
	 */
}

.main::before {
	content: "";
	position: absolute;
	inset: 0;
	background-image: url(imagens/cartasDireita.jpg);
	background-size: cover;
	background-position: center;
	z-index: -1;
	opacity: 0.9;


}

/* ul {
	background-color: blue;
	margin: 0;
	position: fixed;

} */

/* li a {
	text-decoration: none;
	background-color: aqua;
} */

main {
	margin-left: 60px;
	width: 500px;
	font-size: 13px;
	z-index: 9;
}

/* 
menu {
	width: 100vw;
	background-color: #b5c3a9ee;
} */