body{
    background-image: url('https://giffiles.alphacoders.com/312/3123.gif');
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    padding:0;
    margin:0;
}

.btHome{
    position: relative;
    left: 920px;
    top: 150px;
    width: 150px;
    height: 30px;
    cursor: pointer;
    border: none;
    outline: none;
}

.btHome:hover {
    background: #4db190a4; /* Muda a cor assim que o cursor estiver em cima*/
}

.btHome a {/* tira o sublinado do nome no botão*/
    text-decoration: none;
}

.fraseHome {
    position: absolute;
    top: 20px;
    left: 700px;
    width: 400px;
    height: 100px;
    color: white;
    font-size: 18px; /* tamanho da letra */
    font-family: 'Source Code Pro', monospace;
}
