* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(img/greensmoke.png);
  background-size: fill;
  color: white;
  text-align: center;
  align-content: center;
  font-family: Helvetica, sans-serif;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.header-text {
  margin-top: 25px;
  margin-bottom: 20px;
  -webkit-text-stroke: rgb(232, 240, 228) 0.1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.main-text {
  width: 50vw;
  margin: 30px auto;
  text-align: justify;
}

.welcome-text {
  margin-top: 10px;
  width: 50vw;
  margin: 30px auto;
  text-align: justify;
}

.van-img {
  margin: 20px;
  width: 31vw;
}

.van-img:hover {
  opacity: 0.5;
}

footer {
  color: white;
  margin-bottom: 10px;
  width: 100%;
}

.name {
  color: white;
  /* font-size: 1.35rem; */
  cursor: pointer;
}

.name:hover {
  opacity: 0.5;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    margin: 0;
    width: 80vw;
  }

  .header-text {
    margin-bottom: 0px;
    font-size: 1.79rem;
    width: 80vw;
    margin: 10%;
  }

  .main-text {
    width: 80vw;
    margin: 10%;
    margin-right: 10%;
    padding: 5%;
    /* text-align: center; */
    /* font-size: 1.08rem;
    text-align: center; */
  }

  .welcome-text {
    width: 80vw;
    margin: 10%;
    margin-right: 10%;
    padding: 5%;
    /* text-align: center; */
    /* font-size: 1.2rem;
    text-align: center; */
  }

  .van-img {
    width: 45vw;
    display: flex;
    justify-content: center;
    padding: 30%;
  }

  footer {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    width: 80vw;
    padding: 10%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    width: 80vw;
  }
  .header-text {
    margin-bottom: 0px;
    font-size: 1.82rem;
    width: 80vw;
    margin: 10%;
  }

  .main-text {
    width: 80vw;
    margin: 10%;
    margin-right: 10%;
    padding: 5%;
  }
  /* font-size: 1.09rem;
  } */

  .welcome-text {
    width: 80vw;
    margin: 10%;
    margin-right: 10%;
    padding: 5%;
  }
  /*  font-size: 1.25rem;
  } */

  .van-img {
    width: 60vw;
    display: flex;
    justify-content: center;
    padding: 30%;
  }

  footer {
    /* text-align: center; */
    width: 60vw;
    display: flex;
    justify-content: center;
    padding: 30%;
  }

  /*
  .name {
    font-size: 1.2rem;
  } */
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  body {
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    width: 80vw;
  }

  .header-text {
    margin-bottom: 0px;
    font-size: 1.82rem;
    width: 80vw;
    margin: 10%;
  }

  .main-text {
    width: 70vw;
    margin: 10%;
    margin-right: 10%;
    padding: 5%;
  }

  .welcome-text {
    width: 70vw;
    margin: 10%;
    margin-right: 10%;
    padding: 5%;
  }

  .van-img {
    width: 60vw;
    display: flex;
    justify-content: center;
    padding: 20%;
  }

  footer {
    width: 70vw;
    display: flex;
    justify-content: center;
    padding: 10%;
    margin-top: 35px;
  }
}
