* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contentAll {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}


body {
  background-color: rgb(175, 208, 236);
}

header {
  background-color: rgb(140, 172, 198);
  padding-left: 400px;
  height: 200px;
  width: 100%;
  margin-top: 10px;
  justify-content: center;
}

.nav1 {
  padding-left: 170px;
}

.conteiner {
  height: 60px;
  width: 100%;
  text-align: center;
  display: flex;
  box-sizing: border-box;
}

.btName {
  float: left;
  position: relative;
  width: 45%;
  height: auto;
  padding-top: 0px;
}

.numberName {
  padding-top: 0px;
  float: left;
  position: relative;
  width: 100%;
  height: auto;
  margin-left: 170px;
}

#footerText {
  background-color: rgb(140, 172, 198);
  text-align: center;
  width: 100%;
  color: rgb(226, 226, 20);
  margin-top: 100px;
}


.nav {
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
}

.btn1 {
  max-width: 150px;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid rgb(22, 234, 220);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(43, 144, 226);
}

.clean-name {
  width: 20vw;
  max-width: 60px;
  margin: 20px;
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
  border: 2px solid rgb(43, 144, 226);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(43, 144, 226);
}

.btn-name {
  width: 20vw;
  max-width: 150px;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid rgb(43, 144, 226);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(43, 144, 226);
}

.btn-name:hover {
  background-color: rgb(175, 208, 236);
}

.btn-num {
  width: 20vw;
  max-width: 150px;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid rgb(43, 144, 226);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(43, 144, 226);
}

.btn-num:hover {
  background-color: rgb(175, 208, 236);
}

.input-search {
  width: 40vw;
  max-width: 250px;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid rgb(43, 144, 226);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(43, 144, 226);
}

.type-filter {
  width: 20vw;
  max-width: 150px;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid rgb(43, 144, 226);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(43, 144, 226);
}

.type-filter:hover {
  background-color: rgb(175, 208, 236);
}

.allPokemon {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  justify-content: space-between;
  padding-left: 7rem;
  padding-right: 1rem;
  margin-top: 150px;
  width: 30%;
  box-sizing: border-box;
}

.pokemon {
  border-radius: 25px 25px 25px 25px;
  gap: 1rem;
  box-shadow: 0 0 3rem rgb(37, 90, 134);
  padding-block: 1 rem;
  text-transform: uppercase;
  background-color: rgb(140, 172, 198);
  position: relative;
  isolation: isolate;
  overflow: hidden;
}


.pokemon:hover {
  background: linear-gradient(to left, #0082c8, #c87f00, #0082c8, #c87f00);
}

.pokemon-numero {
  position: absolute;
  top: 3 rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: 100;
  color: whitesmoke;
  z-index: -1
}

.pokemon-imagem {
  padding: 1rem;
  justify-content: center;
  margin-top: 20px;
  margin-left: 30px;
}

.name-contenedor {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding-inline: 1rem;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  color: whitesmoke;
}

.pokemon-imagem {
  width: 100%;
  max-width: 6rem;
}

.typePokemon {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 500;
  flex-wrap: wrap;
  justify-content: center;
}

.type {
  border-radius: 100vmax;
  padding: .25rem 5 rem;
  color: whitesmoke;
}

.card-main-pokemon {
  margin-top: 1rem;
  box-sizing: border-box;
  width: 82vw;
  height: 100vh;
  border-radius: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  border: none;
  text-align: center;
  justify-items: center;
}

.type-teste {
  display: flex;
  justify-content: center;
}

.water {
  background-color: #54a6e9;
}

.fire {
  background: linear-gradient(to left, #c02425, #f0cb35);
}

.bug {
  background-color: #65ce7c;
}

.dragon {
  background: linear-gradient(to left, #c02425, #f0cb35);
}

.electric {
  background: linear-gradient(to left, #8e2de2, #4a00e0);
}

.ghost {
  background: linear-gradient(to left, #005aa7, #fffde4);
}

.ice {
  background: linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6);
}

.fighting {
  background-color: #395ade;
}

.normal {
  background-color: #54a6e9;
}

.grass {
  background-color: #59c26c;
}

.psychic {
  background: linear-gradient(to left, #8d6cbb, #ebe8a3);
}

.rock {
  background-color: #909094;
}

.ground {
  background-color: #d8d8e3;
}

.poison {
  background: linear-gradient(to left, #4776e6, #54a6e9);
}

.flying {
  background-color: #a27ab1;
}

.fairy {
  background-color: #b5405d;
}

.dark {
  background-color: #3f3983;
}

.steel {
  background: linear-gradient(to left, #bdc3c7, #2c3e50);
}


@media screen and (max-width:1015px) {
    .logo {
    display: flex;
  }

  .nav1 {
    width: 85%;
    max-width: 800px;
    border-radius: 10px;
    margin-top: 20px;
  }

  .nav {
    width: 85%;
    max-width: 800px;
    border-radius: 10px;
    margin-top: 20px;
}
  .allPokemon {
    grid-template-columns: 200px 200px 200px;
  }

  .conteiner {
    margin: 50px 10px 10px;
    width: 100%;
    max-width: 800px;
    align-items: center;
  }
}

@media screen and (max-width:810px) {

  .conteiner {
    margin: 50px 10px 10px;
    width: 100%;
    max-width: 800px;
    align-items: center;
  }
}

  @media screen and (max-width:670px) {
  .allPokemon {
    grid-template-columns: 200px 200px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width:590px) {
  .nav1{
    display: flex;
    width: 50px;
    height: 40px;
    margin-top: 10px;
    padding: 6px;
  }

  .nav {
    max-width: 250px;
    margin-top: 20px;
    display: none;
  }

  .allPokemon {
    grid-template-columns: 200px;
    margin-bottom: 10px;
  }

  .input-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn-name{
    display: flex;
    align-items: center;
  }

  .btn-num {
    font-size: 0.9rem;
    height: 40px;
    width: 80%;
    text-align: center;
  }
.type-filter{
  display: flex;
  align-items: center;
}
}

 @media screen and (max-width:470px) {

  .allPokemon {
    margin: 50px 10px 10px;
    width: 100%;
    max-width: 350px;
    align-items: center;
  
  }
}