* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     background-color: rgb(175, 208, 236);
}

header {
    background-color: rgb(140, 172, 198);
    padding-left: 400px;
    height: 200px;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
  }

.navBtn1 {
    max-width: 150px;
    margin: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid rgb(22, 234, 220);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(43, 144, 226);
}

.nav1 {
    padding-left: 170px;
  }

.navBtn2 {
    max-width: 150px;
    margin: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid rgb(22, 234, 220);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(43, 144, 226);
}

.prompt {
    text-align: center;
    font-size: 3rem;
   color: rgb(70, 148, 211);
}

.pokemonSelection {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
    align-items: space-around;
    justify-content: space-around;
    column-gap: 2vw;
}

input {
    border: 2px solid rgb(43, 144, 226);
    font-size: 1rem;
    font-weight: bold;
    margin: 1vh 1vw 1vh 1vw;
    padding: 2vh 1vw 2vh 2vw;
    box-shadow: 2px 2px 5px rgb(43, 144, 226);
    border-radius: 2vw;
}

#confirm{
  width: 60vw;
  max-width: 80px;
  margin: 20px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid rgb(43, 144, 226);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(43, 144, 226);
}

#confirm:hover{
    background: linear-gradient(to left, #0082c8, #c87f00, #0082c8, #c87f00);
  }

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 5vw;
    margin-top: 5vh;
}

#pokémon-card-one-container,
#pokémon-card-two-container {
    background-color: rgb(140, 172, 198);
    width: 500PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh 2vw 3vh 2vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 2vw;
}

#pokémon-card-one-container :hover{
    background: linear-gradient(to left, #0082c8, #c87f00, #0082c8, #c87f00);
  }

  #pokémon-card-two-container :hover{
    background: linear-gradient(to left, #0082c8, #c87f00, #0082c8, #c87f00);
  }

.pokémon-card {
    background-color:  rgb(175, 208, 236);
    width: 400px;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(238, 238, 238);
    padding: 0vh 2vw 0vh 2vw;
    border-radius: 2vw;
}

.pokeStats {
    background-color: transparent;
    font-size: 2.5rem;
    color: rgb(175, 208, 236);
    text-align: center;
    margin-top: 20px;
}

#firstPokeName,
#secondPokeName {
    font-size: 3rem;
}

#firstPokeNum,
#secondPokeNum {
    font-size: 3.5rem;
}

#firstPokeImg,
#secondPokeImg {
    height: 20vh;
    width: auto;
}

#firstPokeType,
#secondPokeType {
    font-size: 2.5rem;
}



/* 




*/