

header {
    background-color: rgb(43, 144, 226);
    padding-left: 20px;
    height: 150px;
    width: 100;
    margin-top: 10px;
}



#footerText {
    background-color: rgb(43, 144, 226);
    margin-top: 800px;
    text-align: center;

}

/* {


}*/

.btn-nav {
    width: 20vw;
    max-width: 150px;
    margin: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid  rgb(43, 144, 226);
    border-radius: 10px;
    box-shadow: 2px 2px 5px  rgb(43, 144, 226);
    
  }
.nav-sort-filter {
    width: 850px;
    font-size: 5rem;
    padding-left: 1000px;
  }