/* === Scrollbar CSS ===*/

.descricao::-webkit-scrollbar {
	width: 12px;
}

.descricao::-webkit-scrollbar-track {
	background-color: #B5C3A6;
}

.descricao::-webkit-scrollbar-thumb {
	background-color: #B5C3A6;
	border-radius: 10px;
	border: 1px solid #ffffff;
}

