@keyframes piscar {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
}

.piscante {
  animation: piscar 1s infinite;
}

body{
  width: 100%;
  height: 100%;
  background-image: url(imagens/fundo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

main{
  background-color: #ffff;
  border-radius: 2px;
  width: 80%;
  height: 90%;
  align-content: center;
  text-align: center;
  margin-left: auto ;
  margin-right: auto;
  
}