:root {
  --bcgColor: #FFDA79;
  --bcgMenu: #D6E6F2;
  --blue: #338ad1da;
  --darkBlue: #00478C;
  --gray: #8c9ba7;
  --itemMenuColor: #5c7d9e;
  --lightGray: #CBD5DD;
  --secondWhiteTone: #F7F1E3;
  --whiteTone: #F5F5F5;
  --whiteWithTransparency: rgba(247, 241, 227, 0.71);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#navPc {
  background-color: var(--bcgMenu);
  display: flex;
  width: 100vw;
}

#navPc .menu {
  color: var(--itemMenuColor);
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 600;
}

#navCel ul a .menu {
  color: var(--itemMenuColor);
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 600;
}

#navPc .menu:hover {
  color: var(--darkBlue);
}

#navPc div {
  cursor: pointer;
  padding: 15px;
}

#navCel {
  display: none;
  width: 100vw;
}

body {
  background-color: var(--bcgColor);
}

a {
  text-decoration: none;
}

.container-main .column{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  height: 100vh;
  width: 100vw;
}

.logo {
  height: 100px;
  margin: 10px;
  width: 220px;
}


.title {
  color: var(--darkBlue);
  font-family: 'Carter One', cursive;
  font-size: 18px;
  font-weight: bolder;
  line-height: 30px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  width: 270px;
}

input {
  border-radius: 5px;
  background-color: var(--whiteTone);
  border: var(--whiteTone);
  color: var(--lightGray);
  font-family: 'Inter';
  font-size: 14px;
  height: 50px;
  margin: 10px;
  padding: 15px;
  width: 270px;
}

.content-options {
  display: flex;
  gap: 5px;
  justify-content: space-around;
  padding: 5px;
  margin: 5px;
  width: 270px;
}

select {
  background: var(--whiteTone);
  border: var(--whiteTone);
  border-radius: 3px;
  color: var(--gray);
  font-weight: bold;
  height: 46px;
  margin: 5px;
  padding: 5px;
  width: 50%;
}

.btn {
  background-color: var(--darkBlue);
  border: var(--darkBlue);
  border-radius: 15px;
  color: var(--whiteTone);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  height: 50px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  width: 270px;
}


.cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.card {
  align-items: center;
  border-radius: 63px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 220px;
  margin: 10px;
  padding: 10px;
  width: 309px;
}

.name-number-pokemon {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: 100%;
}

#name,
#num {
  color: var(--whiteTone);
  font-family: 'Carter One';
  font-weight: 400;
  font-size: 22px;
}

.all-images-card-pokemon {
  display: flex;
  gap: 15px;
  justify-content: space-around;
  width: 100%;
}

.img-types {
  gap: 10px;
}

.img-type {
  height: 30px;
  width: 30px;
}

#image-pokemon {
  height: 110px;
  width: 110px;
}

h1::first-letter {
  text-transform: capitalize;
}

#chart {
  background-color: var(--whiteTone);
  border-radius: 63px;
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  height: 300px;
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.questions {
  align-items: center;
  background-color: var(--blue);
  border-radius: 63px;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.curiosity {
  align-items: center;
  color: var(--whiteWithTransparency);
  font-family: 'Carter One';
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin: 10px;
  padding: 10px;
  text-align: justify;
  width: 100%;
}

.curiosity h1 {
  color: var(--whiteTone);
  font-size: 16px;
  text-align: center;
}

.curiosity p b {
  color: var(--whiteTone);
}

.center {
  text-align: center;
}

.show-data-pokemon {
  align-items: center;
  background-color: var(--secondWhiteTone);
  border-radius: 63px;
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  width: 90%;
}

#politoed,
#snorlax {
  height: 110px;
  width: 110px;
}

.nameRevealed {
  color: var(--darkBlue);
  font-family: 'Carter One';
  font-size: 16px;
}

.nameRevealed:first-letter {
  text-transform: uppercase;
}


@media screen and (max-width: 768px) {

  #navPc {
    display: none;
  }

  #navCel {
    background-color: var(--bcgMenu);
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  #navCel img {
    cursor: pointer;
    max-width: 50px;
  }

  #navCel ul {
    max-height: 0px;
    overflow: hidden;
    text-align: left;
    transition-duration: 0.5s;
  }

  #navCel.active ul {
    max-height: 300px;
  }

  #navCel li {
    padding: 10px;
  }

}

@media screen and (min-width: 768px) {

  .logo {
    font-size: 22px;
    height: 120px;
    width: 240px;
  }

  .title {
    width: 500px;
  }

  #chart {
    height: 520px;
    width: 480px;
  }

  #row {
    flex-direction: row;
  }

  .questions {
    height: 520px;
    width: 480px;
  }

  .curiosity {
    font-size: 16px;
    line-height: 48px;
  }

  .curiosity h1 {
    font-size: 18px;
  }

  .show-data-pokemon {
    width: 60%;
  }

}
