@import url('https://fonts.google.com/specimen/Oxanium?query=oxanium');

* {
    margin: 0;
    padding:0 ;
    box-sizing: border-box;/*faz com que o navegador não calcule a dimensão de um elemento somando bordas e margens com altura e largura.*/
    font-family:'Oxanium', cursive;/*font escolhida padrão no link*/

}

body {
    text-align: center;
    background:linear-gradient(to bottom,#797575,#3b3a3a );
    min-height: 100vh;
    display:inline-block;
    
}
main{
    text-align: center;
    display:inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}



.box {
  border: 2px solid rgb(138, 19, 19);
  padding:15px;
  width: 108%;
  background: rgb(138, 19, 19);
  text-align: center;

}

.pokebola {
width: 100%;
max-width: 425px;

}

.logo {
  text-align: center;
  display:inline-block;
  width: 100%;
  margin: 0%;

    
}

.pokemon__image {
  position: absolute;
  bottom: 55%;
  left: 50%;
  transform: translate(-63%, 20%);
  height: 18%;
}

.pokemon__data {
  font-weight: 600;
  color: #aaa;
  top: 75%;
  right: 33%;
  font-size: clamp(8px, 5vw, 25px);
  display:block;
  
}

.pokemon__name {
  color: #6b1919;
  text-transform: capitalize;
  left: 30%;
  display:inline-block;
  
}

.form {
  width: 65%;
  display:inline-block;
  
}

.input__search {
  width: 100%;
  padding:4%;
  outline: none;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: 600;
  color: #3a444d;
  font-size: clamp(8px, 5vw, 1rem);
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333
  
}

.btn-prev {
  width: 30%;
  padding: 2%;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: clamp(19px, 5vw, 1rem);
  font-weight: 600;
  color: white;
  background-color:rgb(138, 19, 19);
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
  display:inline-block;
}

 .btn-next {
  width: 30%;
  padding: 2%;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: clamp(19px, 5vw, 1rem);
  font-weight: 600;
  color: white;
  background-color:rgb(138, 19, 19);
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
  display:inline-block;
}


a{
  color: #aaa;

}




