backgroung {
  
}

img {
  text-align: center;
}

header{
    width: 100%;
    height: 70vh;
    margin: 0%;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    border: solid 4 px #6e90b8;
    background-color: #1c93bf;
       
}
p {
    font-family: sans-serif; 
    font-size: 15px;
    width: 50%;
    padding: 10px;
    margin: 50px;
    justify-content: center;
    align-items: center;
  }

.films img {
    width: 200px ;
    height: 285px;
    flex-direction: column;
    justify-content: space-around;
    display: inline-block;
    border-radius: 10px; /* Adiciona bordas arredondadas */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.345); /* Adiciona uma sombra */
  }

  .container-films {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 50px;
    padding: 20px;
  }
form {
    text-align: center;
}

footer {
  text-align: center;
}