body {
  background-image: url("./img/img-fundo-globo-greg-rosenke.png");
  margin: 0;
  padding: 0;
}

#subtitulo {
  font-style: oblique;
  color: beige;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.2em black;
  margin-top: 0vh;
  align-items: flex-start;
}

#imagem-palavra-mochileiros {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
  background-size: cover;
  opacity: 0.3;
  margin: 0;
}

#filtro-independente,
#ordenacao,
#continentes {
  width: 244px;
  height: 35px;
  background-color: #3e3e43;
  border-radius: 6px;
  border: none;
  opacity: 0.8;
}

#exibirFlags {
  display: flex;
  flex-wrap: wrap;
}

.bandeiras {
  justify-content: center;
  height: 350px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
  background-color: #1f4c59c9;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(83, 51, 51, 0.45);
  transition: all 0.8s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
