.water {
    --background-color: #B9E9FC; /* cor clara */
    --background-color-2: #97DEFF; /* cor media */
    --suporte-color: #47B5FF; /* cor forte */
    --text-header-color: #73777b; /* cor texto onde ta cinza */
    color: var(--text-header-color);
}

.ice {
    --background-color: #C9EEFF; /* cor clara */
    --background-color-2: #B9E9FC; /* cor media */
    --suporte-color: #8DCBE6; /* cor forte */
    --text-header-color: #73777b; /* cor texto onde ta cinza */
    color: var(--text-header-color);
}

.fighting {
    --background-color: #FFCDC5; /* cor clara */
    --background-color-2: #FFACA4; /* cor media */
    --suporte-color: #A41020; /* cor forte */
    --text-header-color: #FFFFFF; /* cor texto onde ta cinza */
    color: var(--text-header-color);
}

.fire {
    --background-color: #FFBC80; /* cor clara */
    --background-color-2: #FF9F45; /* cor media */
    --suporte-color: #d9230b; /* cor forte F76E11 */
    --text-header-color: #FFFFFF; /* cor texto onde ta cinza */
    color: var(--text-header-color);
}

.electric {
    --background-color: #FFF9B0; /* cor clara */
    --background-color-2: #FFD966; /* cor media */
    --suporte-color: #E6B325; /* cor forte */
    --text-header-color: #73777b; /* cor texto onde ta cinza */
    color: var(--text-header-color);
}

.poison {
    --background-color: #C060A1; /* cor clara */
    --background-color-2: #9145B6; /* cor media */
    --suporte-color: #4C3F91; /* cor forte */
    --text-header-color: #FFFFFF; /* cor texto onde ta cinza */
    color: var(--text-header-color);
}

.grass {
    --background-color: #CEEDC7;
    --background-color-2: #E9EDC9;
    --suporte-color: #6ECCAF;
    --text-header-color: #73777b;
    color: var(--text-header-color);
}

.dragon {
    --background-color: #736EAD; /* cor clara */
    --background-color-2: #576CBC; /* cor media */
    --suporte-color: #19376D; /* cor forte */
    --text-header-color: #FFFFFF; /* cor texto onde ta cinza */
    color: var(--text-header-color);
}

.bug {
    --background-color: #D3E4CD; /* cor clara */
    --background-color-2: #62627B; /* cor media */
    --suporte-color: #56776C; /* cor forte */
    --text-header-color: #FFFFFF;; /* cor texto onde ta cinza */
    color: var(--text-header-color);
}


.dark {
    --background-color: #FFEEDE; /* cor clara */
    --background-color-2: #BDD2B6; /* cor media */
    --suporte-color: #29314A; /* cor forte */
    --text-header-color: #73777b;; /* cor texto onde ta cinza */
    color: var(--text-header-color);
}

.fairy {
    --background-color: #FFA2C4; /* cor clara */
    --background-color-2: #DD8EDD; /* cor media */
    --suporte-color: #9E319C; /* cor forte */
    --text-header-color: #FFFFFF; /* cor texto onde ta cinza */
    color: var(--text-header-color);
}

.flying {
    --background-color: #BBD5F9; /* cor clara */
    --background-color-2: #FFFEC4; /* cor media */
    --suporte-color: #9696FD; /* cor forte */
    --text-header-color: #73777B; /* cor texto onde ta cinza */
    color: var(--text-header-color);
}

.ghost {
    --background-color: #BD94B4; /* cor clara */
    --background-color-2: #8B6283; /* cor media */
    --suporte-color: #392939; /* cor forte */
    --text-header-color: #FFFFFF; /* cor texto onde ta cinza */
    color: var(--text-header-color);
}

.ground {
    --background-color: #D1A588; /* cor clara */
    --background-color-2: #AC7B5A; /* cor media */
    --suporte-color: #73524A; /* cor forte */
    --text-header-color: #FFFFFF; /* cor texto onde ta cinza */
    color: var(--text-header-color);
}

.normal {
    --background-color: #FFE6C5; /* cor clara */
    --background-color-2: #DEBD9C; /* cor media */
    --suporte-color: #F66231; /* cor forte */
    --text-header-color: #73777B; /* cor texto onde ta cinza */
    color: var(--text-header-color);
}

.rock {
    --background-color: #B4ACAC; /* cor clara */
    --background-color-2: #838383; /* cor media */
    --suporte-color: #393941; /* cor forte */
    --text-header-color: #FFFFFF; /* cor texto onde ta cinza */
    color: var(--text-header-color);
}

.psychic {
    --background-color: #FFC3C3; /* cor clara */
    --background-color-2: #FF8C8C; /* cor media */
    --suporte-color: #FF5D5D; /* cor forte */
    --text-header-color: #FFFFFF; /* cor texto onde ta cinza */
    color: var(--text-header-color);
}

.steel {
    --background-color: #BDCDE6; /* cor clara */
    --background-color-2: #7B94A4; /* cor media */
    --suporte-color: #393952; /* cor forte */
    --text-header-color: #FFFFFF; /* cor texto onde ta cinza */
    color: var(--text-header-color);
}